{% extends 'baseUsuarios.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}



<div class="row mt-3 ">    
    <div class="col-12 col-md-6 offset-md-4" >
        <div class="card text-center text-bg-dark " style="width: 18rem;" >
            <div class="card-body ">
                <div class="card-title">
                    <h2>Crear Colegio</h2>
                </div>
                <hr>
                <form action="" class="" id="formulario_contacto" method="POST"> 
                    {% csrf_token %}
                    <div class="d-flex justify-content-center mt-3">

                        <a href="{%url 'crearDireccion'%}"class="btn btn-warning">Crear Dirección</a>
                        
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="text" class="form-label">Ingrese Nombre del Colegio</label>
                            {{ form.nombre_colegio | crispy }}
                            <input type="text" class="form-control" name="nombre_colegio" id="nombre_colegio" aria-describedby="text">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="text" class="form-label">Ingrese Representante Legal</label>
                            {{ form.representante_legal | crispy }}
                            <input type="text" class="form-control" name="Representante_colegio" id="Representante_colegio" aria-describedby="text">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="text" class="form-label">Ingrese Telefono</label>
                            {{ form.telefono | crispy }}
                            <input type="PhoneNumber" class="form-control" name="Telefono_colegio" id="Telefono_colegio" aria-describedby="number">
                        </div>
                    </div>
                   
                 <!--{{ form | crispy }}
                    {{ form2 | crispy }}-->
                    <br>
                    
                    <hr>
                    <div class="d-flex justify-content-center">

                        <a href="{%url 'listarColegio'%}"class="btn btn-warning">Cancelar</a>
                        &nbsp;
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

{%endblock%}