{% extends 'baseUsuarios.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Iniciar Sesión</h4>
            </div>
            <div class="card-body">
                <form action="" class="" id="formLogin" method="POST">
                    {%csrf_token%}
                    <div class="row mb-3">
                        <div class="col col-md-12 col-sm-12">
                           <label for="text" class="form-label">Ingrese Usuario</label>
                                {{form.id_usuario | crispy}}
                            <input type="number" class="form-control" name="id_usuario" id="id_usuario" aria-describedby="number">
                        </div>
                    </div>
                    <div class=" row mt-3">
                        <div class="col col-md-12 col-sm-12">
                            <label for="password" class="form-label">Contraseña</label>
                                {{form.password | crispy}}
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12 col-m-6 col-lg-6 col-sm-12" >
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                        
                        <div class="col-12 col-m-6 col-lg-6 col-sm-12">
                            <a href="{%url 'inicio'%}"class="btn btn-warning">Ir al Home</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        {%if messages %}
                            {% for msg in messages %}
                            <b> {{msg}}</b>
                            {%endfor%}
                        {%endif%}
                    </div>
                </form>
               
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}

{% endblock %}