{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div id="carouselExampleFade" class="carousel slide carousel-fade mt-3">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="https://colegiosme.cl/img/slides/cuenta-publica-2021.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="https://colegiosme.cl/img/slides/matricula-2023.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="https://colegiosme.cl/img/slides/bases-administrativas-2022.jpg" class="d-block w-100"
						alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>
<div class="row py-5">
	<div class="col-md-11 md-6 ms-4">
		<div class="titulos text-white">Nuestra Misión</div>
		<p class="text-justify text-white">
			La misión del “Colegio Santa Margarita de Escocia” es formar alumnos a partir de su entorno familiar, que
			tengan
			internalizados valores tales como solidaridad, responsabilidad y compromiso que junto a una sólida formación
			académica les permita la realización personal conforme a principios del humanismo cristiano, y que puedan
			insertarse en la sociedad con eficacia y visión positiva de la vida
		</p>
		<div class="titulos text-white">Nuestra Visión</div>
		<p class="text-justify text-white">
			La visión del “Colegio Santa Margarita de Escocia”, es ser reconocido como
			un establecimiento educacional humanístico – científico, con énfasis en la
			formación valórica que responda a las necesidades de la sociedad,
			a las políticas educacionales del país y a los requerimientos de la educación superior.
		</p>
	</div>

	<div class="col-md-12 text-center">
		<img src="https://colegiosme.cl/img/vision.jpg" alt="" class="img-fluid img-thumbnail">
	</div>
</div>

{% endblock %}